<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<h1 align="center">NAIL POLISH BRANDS</h1><br><br>
<div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
<br>
	<h2 align="right"><a href="{{url_for('showLogin')}}">LOGIN</a></h2><br><br>
</div>


{% for i in brands %}
<div class="A">
	<p>	{{i.id}}
		{{')' }}	
		{{i.name}}</p>
</div>
<br>
{% endfor %}
</body>
</html>